.wrap-form{
    width: 668px;
    background: white;
    overflow: hidden;
    padding: 50px 62px 80px 60px;
    border-radius: 10px;
}
.form{
    width: 100%;
}
.title{
    font-size: 35px;
    color: #333333;
    line-height: 1.2;
    padding-bottom: 30px;
}
.form input{
    width: 100%;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 80px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 1.2;
    transition: all 0.5s;
}
.form input:focus{
    box-shadow: 0 0 0 0;
    border: 1px solid #8245BF;
    outline: 0;
}
.buttonForm{
    background-color: #6F04D9;
    color: #ffffff;
    font-size: 20px;
    border: 0 none;
    padding: 0 20px;
    width: 200px;
    height: 70px;
}
.buttonForm:focus{
    box-shadow: 0 0 0 0;
    border: 1px solid #05F29B;
    outline: 0;
}
