
.wrap-table{
    width: 960px;
    border-radius: 10px;
    overflow: hidden;
}
.table{
    width: 100%;
    margin: 0;
}
table{
    width: 100%;
}

.table-header{
    background-color: #8245BF;
}
.row{
    width: 100%;
    line-height: 1.2;
}
.cell{
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.cell:nth-child(1){
    width: 600px;
}
.cell:nth-child(2){
    display: flex;
    justify-content: center;
}
thead .cell{
     color: #ffffff;
     font-size: 25px;  
}
tbody .row{
    background-color: #ffffff;
    color: #666666;
    transition: all 1s;
}
tbody .cell{
    font-size: 25px;
    padding-left: 10px;  
   
}
.checkmark{
    width: 25px;
    height: 25px;
}
tbody .cell a{
    text-decoration: none;
    color: #666666;
}
tbody .cell a:hover{
    text-decoration: none;
    color: #6F04D9;
    text-decoration: underline;
    font-weight: bold;
}
tbody .row:hover{
    background-color: #dad4d4;
}