<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My tasks</title>

    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

<div class="container">
    
 
    <div class="navBar">
        <div class="container-navBar-header">
            <i>X</i>
            <h2>My Tasks</h2>
        </div>
    </div>
    <div class="container-main">
    <header class="header">
        <div>
            Abrir
        </div>
      </header>
      <main>
          
      </main>
    </div>      
</div>
</body>
</html>