<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Tasks</title>

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.css"
        integrity="sha512-9iWaz7iMchMkQOKA8K4Qpz6bpQRbhedFJB+MSdmJ5Nf4qIN1+5wOVnzg5BQs/mYH3sKtzY+DOgxiwMz8ZtMCsw=="
        crossorigin="anonymous" />
</head>

<body>
    <!-- começo do header -->
    <header>
        <div class="logo">
            <h3> App <span>Taks</span></h3>
        </div>
        <a href="#" class="logout_btn">Logout</a>

    </header>
    <!-- fim do header -->

    <!-- Sidebar start-->
    <aside class="sidebar">
        <div class="sidebar-header">
            <div class="user">
                <img src="./images/user.png" alt="profil">
                <h4>User</h4>
            </div>
            <div class="btn-close">
                <a href="#"><i class="fas fa-bars"></i></a>
            </div>
        </div>

        <div class="container-links">
            <div class="list-tasks-links">
                <a href="#" class="task-category-link"><i class="fas fa-desktop"></i><span>Trabalho</span></a>
                <a href="#" class="task-link none"><i class="fas fa-desktop"></i><span>Trabalho</span></a>
                <a href="#" class="task-link none"><i class="fas fa-desktop"></i><span>Trabalho</span></a>
                <a href="#" class="task-link none"><i class="fas fa-desktop"></i><span>Trabalho</span></a>
                <a href="#" class="task-link none"><i class="fas fa-desktop"></i><span>Trabalho</span></a>
            </div>
            <div class="list-tasks-links">
                <a href="#" class="task-category-link"><i class="fas fa-desktop"></i><span>Trabalho</span></a>
                <a href="#" class="task-link none"><i class="fas fa-desktop"></i><span>Trabalho</span></a>
                <a href="#" class="task-link none"><i class="fas fa-desktop"></i><span>Trabalho</span></a>
                <a href="#" class="task-link none"><i class="fas fa-desktop"></i><span>Trabalho</span></a>
                <a href="#" class="task-link none"><i class="fas fa-desktop"></i><span>Trabalho</span></a>
            </div>
            <div class="list-tasks-links">
                <a href="#" class="task-category-link"><i class="fas fa-desktop"></i><span>Trabalho</span></a>
                <a href="#" class="task-link none"><i class="fas fa-desktop"></i><span>Trabalho</span></a>
                <a href="#" class="task-link none"><i class="fas fa-desktop"></i><span>Trabalho</span></a>
                <a href="#" class="task-link none"><i class="fas fa-desktop"></i><span>Trabalho</span></a>
                <a href="#" class="task-link none"><i class="fas fa-desktop"></i><span>Trabalho</span></a>
            </div>


        </div>



    </aside>
    <!-- Sidebar end-->
    <main></main>
    <footer></footer>

    <script>

        eventTasksLinsks()

        function eventTasksLinsks() {
            let taskCategoryLink = document.querySelectorAll(".task-category-link")
            taskCategoryLink.forEach((element) => {
                element.addEventListener('click', (evet) => {
                    evet.preventDefault()
                    let div = evet.target.parentNode.parentNode
                    let listTasksLinks = div.querySelectorAll('.task-link')
                    console.log(listTasksLinks)
                    listTasksLinks.forEach((element) => {
                        if (element.classList.contains('none')) {
                            element.classList.remove('none')
                        }
                        else {
                            element.classList.add('none')
                        }

                    })
                })
            })
        }

    </script>
</body>

</html>