<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Tasks</title>

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.css"
        integrity="sha512-9iWaz7iMchMkQOKA8K4Qpz6bpQRbhedFJB+MSdmJ5Nf4qIN1+5wOVnzg5BQs/mYH3sKtzY+DOgxiwMz8ZtMCsw=="
        crossorigin="anonymous" />
</head>

<body>
    <!-- começo do header -->
    <header>
        <div class="logo">
            <h3> App <span>Taks</span></h3>
        </div>        
        <a href="#" class="logout_btn">Logout</a>
        
    </header>
    <!-- fim do header -->

    <!-- Sidebar start-->
    <aside class="sidebar">
        <div class="user">
            <img src="./images/user.png" alt="profil">
            <h4>User</h4>
        </div>
        <a href="#"><i class="fas fa-desktop"></i><span>Trabalho</span></a>
        <a href="#"><i class="fas fa-desktop"></i><span>Estudos</span></a>
        <a href="#"><i class="fas fa-desktop"></i><span>Lazer</span></a>
        <a href="#"><i class="fas fa-desktop"></i><span>Afazer</span></a>

    </aside>
    <!-- Sidebar end-->
    <main></main>
    <footer></footer>
</body>

</html>